USE [master]
GO
/****** Object:  Database [Torty]    Script Date: 14.12.2020 20:57:43 ******/
CREATE DATABASE [Torty]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Torty', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLEXPRESS\MSSQL\DATA\Torty.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Torty_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLEXPRESS\MSSQL\DATA\Torty_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Torty].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Torty]
GO
/****** Object:  Table [dbo].[Ingridients]    Script Date: 14.12.2020 20:57:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingridients](
	[Id] [nvarchar](50) NOT NULL,
	[Articul] [nvarchar](50) NULL,
	[Name] [nvarchar](50) NULL,
	[EdinicyIzmerenia] [nvarchar](10) NULL,
	[Kolichestvo] [nvarchar](50) NULL,
	[Type] [nvarchar](50) NULL,
	[Stoimost] [nchar](10) NULL,
	[Gost] [nvarchar](50) NULL,
	[Fasovka] [nvarchar](50) NULL,
	[Charakteristika] [nvarchar](50) NULL,
	[PostavshikName] [nvarchar](50) NULL,
 CONSTRAINT [PK_Ingridients] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Izdelie]    Script Date: 14.12.2020 20:57:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Izdelie](
	[Naimenovanie] [nvarchar](50) NOT NULL,
	[Razmery] [nchar](10) NULL,
 CONSTRAINT [PK_Izdelie] PRIMARY KEY CLUSTERED 
(
	[Naimenovanie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Oborudovanie]    Script Date: 14.12.2020 20:57:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oborudovanie](
	[Markirovka] [int] NOT NULL,
	[Type_oborudovania] [nvarchar](50) NULL,
	[Charakteristika] [nvarchar](50) NULL,
 CONSTRAINT [PK_Oborudovanie] PRIMARY KEY CLUSTERED 
(
	[Markirovka] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Postavshik]    Script Date: 14.12.2020 20:57:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Postavshik](
	[Naimenovanie] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NULL,
	[SrokDostavki] [nchar](10) NULL,
 CONSTRAINT [PK_Postavshik] PRIMARY KEY CLUSTERED 
(
	[Naimenovanie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpecifikaciaIngridient]    Script Date: 14.12.2020 20:57:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpecifikaciaIngridient](
	[Izdelie] [nvarchar](50) NOT NULL,
	[Ingridient] [nvarchar](50) NOT NULL,
	[Kolichestvo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Izdelie] ASC,
	[Ingridient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpecifikaciaOperacii]    Script Date: 14.12.2020 20:57:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpecifikaciaOperacii](
	[Izdelie] [nvarchar](50) NOT NULL,
	[Operacia] [nvarchar](50) NOT NULL,
	[Nomer] [int] NOT NULL,
	[TypeOborudovania] [nvarchar](50) NULL,
	[VremyaOperacii] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Izdelie] ASC,
	[Operacia] ASC,
	[Nomer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpecifikaciaPolufabrikat]    Script Date: 14.12.2020 20:57:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpecifikaciaPolufabrikat](
	[Izdelie] [nvarchar](50) NOT NULL,
	[Polufabrikat] [nvarchar](1) NOT NULL,
	[Kolichestvo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Izdelie] ASC,
	[Polufabrikat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpecifikaciaTort]    Script Date: 14.12.2020 20:57:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpecifikaciaTort](
	[Izdelie] [nvarchar](50) NOT NULL,
	[UkrashenieTorta] [nvarchar](50) NOT NULL,
	[Kolichestvo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Izdelie] ASC,
	[UkrashenieTorta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type_oborudovania]    Script Date: 14.12.2020 20:57:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type_oborudovania](
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Type_oborudovania] PRIMARY KEY CLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UkrasheniaTort]    Script Date: 14.12.2020 20:57:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UkrasheniaTort](
	[Articul] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[EdinicyIzmerenia] [nvarchar](50) NULL,
	[Kolichestvo] [float] NULL,
	[Type] [nvarchar](50) NULL,
	[Stoimost] [nchar](10) NULL,
	[Ves] [nvarchar](50) NULL,
	[PostavshikName] [nvarchar](50) NULL,
 CONSTRAINT [PK_UkrasheniaTort] PRIMARY KEY CLUSTERED 
(
	[Articul] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 14.12.2020 20:57:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Familia] [nvarchar](50) NULL,
	[Name] [nvarchar](50) NULL,
	[Login] [nchar](10) NOT NULL,
	[Password] [nchar](10) NOT NULL,
	[Role] [nvarchar](50) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Login] ASC,
	[Password] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zakazy]    Script Date: 14.12.2020 20:57:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zakazy](
	[Nomer] [int] NOT NULL,
	[Data] [date] NOT NULL,
	[NaimenovanieZakaz] [nvarchar](50) NULL,
	[Izdelie] [nvarchar](50) NULL,
	[Zakazchik] [nvarchar](50) NULL,
	[Manager] [nvarchar](50) NULL,
	[Stoimost] [money] NULL,
	[DataZavershenia] [date] NULL,
 CONSTRAINT [PK_Zakazy_1] PRIMARY KEY CLUSTERED 
(
	[Nomer] ASC,
	[Data] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Ingridients] ([Id], [Articul], [Name], [EdinicyIzmerenia], [Kolichestvo], [Type], [Stoimost], [Gost], [Fasovka], [Charakteristika], [PostavshikName]) VALUES (N'1', NULL, N'Мука Сокольническая', NULL, NULL, N'Мука', N'32,50     ', NULL, N' 1 кг', NULL, NULL)
INSERT [dbo].[Ingridients] ([Id], [Articul], [Name], [EdinicyIzmerenia], [Kolichestvo], [Type], [Stoimost], [Gost], [Fasovka], [Charakteristika], [PostavshikName]) VALUES (N'10', NULL, N'Мука хлебопекарная Ic (ГОСТ)', NULL, NULL, N'Мука', N'13 600,00 ', NULL, NULL, NULL, NULL)
INSERT [dbo].[Ingridients] ([Id], [Articul], [Name], [EdinicyIzmerenia], [Kolichestvo], [Type], [Stoimost], [Gost], [Fasovka], [Charakteristika], [PostavshikName]) VALUES (N'100', NULL, N'Твор,масса "Солнышко Кубани" 23% жирн, с изюм, вес', N'кг', NULL, N'Масса творожная', NULL, N'ТУ 9222-030-00439 888-05', NULL, NULL, NULL)
GO
INSERT [dbo].[UkrasheniaTort] ([Articul], [Name], [EdinicyIzmerenia], [Kolichestvo], [Type], [Stoimost], [Ves], [PostavshikName]) VALUES (N'00001158', N'Фигурка новорожденный h5см  31603', N'шт', 5, N'Атрибутика', NULL, NULL, NULL)
INSERT [dbo].[UkrasheniaTort] ([Articul], [Name], [EdinicyIzmerenia], [Kolichestvo], [Type], [Stoimost], [Ves], [PostavshikName]) VALUES (N'00001184', N'Какао алкализ Кот Д-Ивуар Сargill АМ 70', N'кг', 1, N'Какао', NULL, NULL, NULL)
INSERT [dbo].[UkrasheniaTort] ([Articul], [Name], [EdinicyIzmerenia], [Kolichestvo], [Type], [Stoimost], [Ves], [PostavshikName]) VALUES (N'00001193', N'Желейные шарики ВИШНЯ М 8-10', N'кг', 4, N'Желейные украшения', NULL, NULL, NULL)
GO
INSERT [dbo].[Users] ([Familia], [Name], [Login], [Password], [Role]) VALUES (N'Морозова ', N'Клавдия Святославовна', N' loginDEbh', N'AFvMyh    ', N'Директор')
INSERT [dbo].[Users] ([Familia], [Name], [Login], [Password], [Role]) VALUES (N'Сафонова ', N'Дарья Брониславовна', N' loginDEmi', N'CVjLBK    ', N'Мастер')
INSERT [dbo].[Users] ([Familia], [Name], [Login], [Password], [Role]) VALUES (N'Гурьева ', N'Ангелина Матвеевна', N'loginDEaaf', N'SIBZnG    ', N'Менеджер по продажам')
GO
ALTER TABLE [dbo].[Ingridients]  WITH CHECK ADD  CONSTRAINT [FK_Ingridients_Postavshik] FOREIGN KEY([PostavshikName])
REFERENCES [dbo].[Postavshik] ([Naimenovanie])
GO
ALTER TABLE [dbo].[Ingridients] CHECK CONSTRAINT [FK_Ingridients_Postavshik]
GO
ALTER TABLE [dbo].[Oborudovanie]  WITH CHECK ADD  CONSTRAINT [FK_Oborudovanie_Type_oborudovania] FOREIGN KEY([Type_oborudovania])
REFERENCES [dbo].[Type_oborudovania] ([Name])
GO
ALTER TABLE [dbo].[Oborudovanie] CHECK CONSTRAINT [FK_Oborudovanie_Type_oborudovania]
GO
ALTER TABLE [dbo].[SpecifikaciaIngridient]  WITH CHECK ADD FOREIGN KEY([Ingridient])
REFERENCES [dbo].[Ingridients] ([Id])
GO
ALTER TABLE [dbo].[SpecifikaciaIngridient]  WITH CHECK ADD FOREIGN KEY([Izdelie])
REFERENCES [dbo].[Izdelie] ([Naimenovanie])
GO
ALTER TABLE [dbo].[SpecifikaciaOperacii]  WITH CHECK ADD FOREIGN KEY([Izdelie])
REFERENCES [dbo].[Izdelie] ([Naimenovanie])
GO
ALTER TABLE [dbo].[SpecifikaciaOperacii]  WITH CHECK ADD  CONSTRAINT [FK_SpecifikaciaOperacii_Type_oborudovania] FOREIGN KEY([TypeOborudovania])
REFERENCES [dbo].[Type_oborudovania] ([Name])
GO
ALTER TABLE [dbo].[SpecifikaciaOperacii] CHECK CONSTRAINT [FK_SpecifikaciaOperacii_Type_oborudovania]
GO
ALTER TABLE [dbo].[SpecifikaciaPolufabrikat]  WITH CHECK ADD FOREIGN KEY([Izdelie])
REFERENCES [dbo].[Izdelie] ([Naimenovanie])
GO
ALTER TABLE [dbo].[SpecifikaciaTort]  WITH CHECK ADD FOREIGN KEY([Izdelie])
REFERENCES [dbo].[Izdelie] ([Naimenovanie])
GO
ALTER TABLE [dbo].[SpecifikaciaTort]  WITH CHECK ADD FOREIGN KEY([UkrashenieTorta])
REFERENCES [dbo].[UkrasheniaTort] ([Articul])
GO
ALTER TABLE [dbo].[UkrasheniaTort]  WITH CHECK ADD  CONSTRAINT [FK_UkrasheniaTort_Postavshik] FOREIGN KEY([PostavshikName])
REFERENCES [dbo].[Postavshik] ([Naimenovanie])
GO
ALTER TABLE [dbo].[UkrasheniaTort] CHECK CONSTRAINT [FK_UkrasheniaTort_Postavshik]
GO
ALTER TABLE [dbo].[Zakazy]  WITH CHECK ADD  CONSTRAINT [FK_Zakazy_Izdelie] FOREIGN KEY([Izdelie])
REFERENCES [dbo].[Izdelie] ([Naimenovanie])
GO
ALTER TABLE [dbo].[Zakazy] CHECK CONSTRAINT [FK_Zakazy_Izdelie]
GO
USE [master]
GO
